@config "../tailwind.config.js";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-color: color-mix(in oklch, currentColor 35%, transparent)
    transparent;
}
.recharts-label-list {
  pointer-events: none;
}

.text-desc {
  @apply text-xs text-default-500;
}

.before\:bg-gradient-to-r::before {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    oklab(0.9 0 0 / 0.08) 50%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.dark .before\:bg-gradient-to-r::before {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    oklab(0.3 0 0 / 0.12) 50%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}
/* button {
  @apply cursor-pointer!;
}
button,
a[role="button"] {
  @apply font-semibold rounded-xl transition-all! duration-300!
        shadow-[4px_4px_0px_rgba(0,0,0,0.4)]
        hover:translate-y-[-2px] hover:shadow-[6px_6px_0px_rgba(0,0,0,0.4)]
        active:translate-y-[2px] active:shadow-[2px_2px_0px_rgba(0,0,0,0.4)];
} */

.mapboxgl-popup-close-button,
.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  background: transparent !important;
}

ul {
  list-style-position: inside;
}
